
{% load bootstrap4 %}
{% block content %}

    <div class="text-center mw-500 m-auto">
        <div class="m-5">
           <h4>
               Create Comment
           </h4>
        </div>
        <div>
            <form action="{% url 'commentapp:create' %}" method="post">
                {% csrf_token %} <!--사이트간 해킹방지 우회-->
                {% bootstrap_form form %}
                <input type="hidden" name="article_pk" value="{{ target_article.pk }}">
                {% if user.is_authenticated %}
                <input type="submit" class="btn btn-dark col-6 mt-3">
                {% else %}
                <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="btn btn-dark col-6 mt-3">
                    로그인
                </a>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}