<div style="text-align: center; margin: 1rem 0;">
    {% if page_obj.has_previous %} <!--현재 페이지 객체가 이전 페이지를 갖고 있으면, page_number생성-->
    <a href="?page={{ page_obj.previous_page_number }}"
        class = "btn btn-secondary">
        {{ page_obj.previous_page_number }}
    </a>
    {% endif %}
    <a href="?page={{ page_obj.number }}"
        class = "btn btn-secondary">
        {{ page_obj.number }}
    </a>
    {% if page_obj.has_next %} <!--현재 페이지 객체가 다음 페이지를 갖고 있으면, 다음 번호 생성-->
    <a href="?page={{ page_obj.next_page_number }}"
        class = "btn btn-secondary">
        {{ page_obj.next_page_number }}
    </a>
    {% endif %}
</div>