<div class="JJIT_header">
    <div>
        <h1 class="JJIT_logo">JJ_IT</h1>
    </div>
    <div class="header_topic_navbar">
        <a href="{% url 'articleapp:list' %}" class="header_topic">
            <span>게시판</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="header_topic">
            <span>갤러리</span>
        </a>
        <a href="{% url 'subscribeapp:list' %}" class="header_topic">
            <span>구독</span>
        </a>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="header_topic">
            <span>로그인</span>
        </a>
        <a href="{% url 'accountapp:create' %}" class="header_topic">
            <span>회원가입</span>
        </a>

        {% else %}

        <a href="{% url 'accountapp:detail' pk=user.pk %}" class="header_topic">
            <span>회원정보</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="header_topic">
            <span>로그아웃</span>
        </a>
        {% endif %}
    </div>

</div>